@import "../core/Variables.scss";
@import "../core/Mixins.scss";

.main {
  background: linear-gradient(#f5f5f5, #fff);
  padding-bottom: 30px;
  @include tablet {
    display: flex;
    flex-direction: row-reverse;

    padding: auto;
  }
}

.dashboard {
  margin-top: 30px;
  @include tablet {
    width: 399px;
  }
}

.fieldset {
  border-bottom: 1px solid #d8d8d8;
  margin: 0 20px 10px;
  //lastchild: margin-bottom: 0
  @include tablet {
    width: 329px;
    margin-left: 40px;
    margin-right: 30px;
  }
  & .item--icon {
    font-size: 18px;
    color: $orange;
  }
}

.collapse .js_collapsible {
  display: none;
}
