@import "../core/Variables.scss";
@import "../core/Mixins.scss";

.legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  cursor: pointer;
  @include tablet {
    width: 329px;
  }
  &__iconTitle {
    display: flex;
    justify-content: flex-start;

    &--mainTitle {
      margin-left: 10px;
      font-family: $mainfont;
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      color: $darkgray;
    }
  }
}

.rotateArrow .fa-chevron-down {
  transform: rotate(180deg);
}
